@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

nav {
    position: relative;
    display: flex;
    justify-content: space-between; /* Aligns items to the left and right edges */
    align-items: center;
    background-color: transparent;
    padding: 20px 40px;
}

.nav-logo {
    width: 148px;
    height: 40px;
}

.signin-btn {
    background-color: rgb(224, 44, 33);
    color: rgb(255, 255, 255);
    border-style: solid;
    border-color: rgb(224, 44, 33);
    border-radius: 4px;
    width: 75px;
    height: 30px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

#hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./assets/Background\ image.jpg'); /*dark overlay for better text visibility */
    background-size: cover;
    background-position: center;
    height: 100vh;
    text-align: center;
    color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}


